html{
  background: #504750;
}

#header{
  color:#eee;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  margin-bottom: 4em;
  cursor:pointer;
  border: 1px solid transparent;
}

#animate{
  border: 1px solid transparent;
  padding: 1em;
  border-radius: 1em;
  box-shadow: #eee;
}
#animate:hover{
  border: 1px solid #6bbd7d;
  color: #6bbd7d;
  transition: 2s;
  border-radius: 1em;
}
.response{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.response input{
  border: 1px solid #fff;
  background: transparent;
  width: 40em;
  height: 6em;
  text-align: center;
}

.response input:focus{
  outline: none;
}
.response p{
  color:#fff;
  font-size: 4em;
}

.result{
  border:1px solid transparent;
  width: 10em;
  height: 6em;
}

#display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container button{
  cursor: pointer;
  border: 1px dotted #eee;
  background: transparent;
  min-width: 10em;
  min-height: 4em;
  color: #fff;
}

.container button:hover{
  cursor: pointer;
  opacity: .6;
  border: 1px dotted #eee;
  background: #fff;
  color:#000;
  transition: 1s;
  font-weight: bolder;
}

#equal{
  background: #6bbd7d;
  color: #fff;
  font-weight: bolder;
  border: 1px solid transparent;
}

#equal:hover{
  background: #fff;
  color:#6bbd7d;
  font-weight: bolder;
  transition: 1s;
}
