html{
  background: #504750;
}

#header{
  color:#eee;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  margin-bottom: 4em;
  border: 1px solid transparent;
}

#animate{
  border: 1px solid transparent;
  padding: 1em;
  border-radius: 1em;
  box-shadow: #eee;
}
#animate:hover{
  border: 1px solid #6bbd7d;
  color: #6bbd7d;
  transition: 1s;
  border-radius: 1em;
  cursor: pointer;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
}

.result p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36em;
  height: 6em;
  border: 1px solid #fff;
  background: transparent;
  text-align: center;
  color:#fff;
  font-weight: 700;
  border:1px solid #fff;
}


#display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: content-box;
  font-weight: 700;
}

.container button{
  cursor: pointer;
  border: 1px thick transparent;
  background: transparent;
  min-width: 10em;
  min-height: 4em;
  color: #fff;
  font-weight: 700;
}

.container button:hover{
  cursor: pointer;
  opacity: .6;
  border: 1px thin transparent;
  background: #fff;
  color:#504750;
  transition: 1s;
  font-weight: bolder;
}

#equal{
  background: #6bbd7d;
  color: #fff;
  font-weight: bolder;
  border: 1px solid transparent;
}

#equal:hover{
  opacity: .7;
  border: 1px solid transparent;
  font-weight: bolder;
  transition: 1s;
}
